@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

/*----------------------------------------------------------------------------### START OF: General project styles ### */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*ID used to stick footer to bottom of all html pages*/
#container {
    min-height: 100%;
    position: relative;
}

/*----------------------------------------------------Background colour*/

.navbar-bg {
    background-color: #F6FDF8;
    height: 100px;
}

/*----------------------------------------------------Font styling*/
/*----------------------------------------------------Button styling*/

.standard-sign-up-btn {
    background-color: #EFB7B9;
    border: 1px solid #F9F6EC;
    border-radius: 20px;
}
/*----------------------------------------------------Navbar styling*/

.logo-design {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #A7E8BD;
    border: 4px solid #A7E8BD;
    border-radius: 20px;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}

.logo-design:hover {
    color: #EFB7B9;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #3A2E39;
    padding-left: 3px;
    padding-right: 3px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #EFB7B9;
}

#nav-btn {
    color: #F9F6EC;
    padding-left: 10px;
    padding-right: 10px;
}

#nav-btn:hover {
    background-color: #E99B9D;
    color: #F9F6EC;
}

/*----------------------------------------------------Footer styling*/

/*----------------------------------------------------------------------------### END OF: General project styles ### */
/*----------------------------------------------------------------------------### START OF: index.html ### */

/*----------------------------------------------------Main section styling*/
.index-main {
    height: 400px;
}

.main-titles {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 0px;
    z-index:1;
	margin-right: -300px;
}

.main-image {
    padding-top: 15%;
    height: 500px;
    width: 600px;
}