@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

/*----------------------------------------------------------------------------### START OF: General project styles ### */

html,
body {
    margin:0;
    padding:0;
    height:100%;
}

/*ID used to stick footer to bottom of all html pages*/
#container {
    min-height:100%;
    position:relative;
}


.title-margin-top {
    margin-top: 5%;
    margin-bottom: 5%;
}

.standard-box {
    border: 6px solid #DCE3ED;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

.image-margins {
    margin-bottom: 200px;
}

.lower-box-margin {
    margin-top: 80px;
    margin-bottom: 200px;
}

.flash-messages{
    padding: 1% 0% 1% 2%;
    background-color: #F6FDF8;
    color: #3A2E39;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
/*----------------------------------------------------Background colour*/

.navbar-bg {
    opacity: 100%;
    min-height: 100px;
}


/*----------------------------------------------------Font styling*/

.standard-heading {
    color: #3A2E39;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}

.smaller-heading {
    color: #3A2E39;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
    line-height: 45px;
}

.share-title {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #3A2E39;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.share-text {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #3A2E39;
    padding-left: 3px;
    padding-right: 3px;
} 

.list-title {
    color: #3A2E39;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 23px;
    line-height: 45px;
}

.list-text {
    color: #3A2E39;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    line-height: 30px;
}

.standard-divider {
    width: 55%;
    height: 0px;
    margin: 0 auto;
    border: 1px solid #3A2E39;
    margin-bottom: 50px;
    margin-top: 40px;
    opacity: 40%;
}

/*----------------------------------------------------Button styling*/

.standard-sign-up-btn {
    background-color: #EFB7B9;
    border: 1px solid #F9F6EC;
    color: #F9F6EC;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.sign-in-btn {
    background-color: #A7E8BD;
    color: #F9F6EC;
    border: 1px solid #A7E8BD;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    width: 95px;
}

#redirect-signin-btn {
    width: 125px;
}

.sign-in-btn:hover, #redirect-signin-btn:hover {
    color: #F9F6EC;
    background-color: #7DDE9D;
    border: 1px solid #7DDE9D;
}


#nav-btn, #redirect-signup-btn, #form-signup-btn, #sign-out-btn, #footer-btn {
    color: #F9F6EC;
    padding-left: 10px;
    padding-right: 10px;
    width: 95px;
    text-decoration: none;
}

.standard-sign-up-btn:hover, #nav-btn:hover, #redirect-signup-btn:hover, #form-signup-btn:hover, #sign-out-btn:hover {
    background-color: #E99B9D;
    color: #F9F6EC;
}

#sign-out-btn {
    width: 103px;
}

#back-to-top {
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 56px;
    color: #E99B9D;
    font-size: 40px;
}

#back-to-top:hover {
    color: #A7E8BD;
}

.task-btn {
    color: #F9F6EC;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    min-width: 60px;
    text-align: center;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.expand-btn {
    color: #85ADD6;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: unset;
    font-size: 25px;
}

.expand-btn:hover {
    color: #4785C2;
}

.complete-btn {
    background-color: #A7E8BD;
    border: 1px solid #A7E8BD;
}

.complete-btn:hover {
    background-color: #7DDE9D;
    border: 1px solid #7DDE9D;
    color: #F9F6EC;
}

.edit-btn {
    background-color: #FFC885;
    border: 1px solid #FFC885;
}

.edit-btn:hover {
    background-color: #FFB65C;
    border: 1px solid #FFB65C;
    color: #F9F6EC;
}

.delete-btn {
    background-color: #DCE3ED;
    border: 1px solid #DCE3ED;
}

.delete-btn:hover {
    background-color: #BCC9DC;
    border: 1px solid #BCC9DC;
    color: #F9F6EC;
}


/*----------------------------------------------------Navbar styling*/

.logo-design {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #A7E8BD;
    border: 4px solid #A7E8BD;
    border-radius: 20px;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}

.logo-design:hover {
    color: #EFB7B9;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #3A2E39;
    padding-left: 3px;
    padding-right: 3px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #EFB7B9;
}

/*Changes the color of the navbar on scroll*/
.sticky-top.scrolled {
  background-color: #F6FDF8 !important;
  transition: background-color 25ms linear;
}

.active-menu {
    border-bottom: 2px solid #A7E8BD !important;
    padding-bottom: 0.5px !important;
}

/*----------------------------------------------------Footer styling*/

#footer-position{
    position:absolute;
    bottom: 0;
    width:100%;
    min-height: 120px;
    background-color: #F6FDF8;
}

.footer-items{
    padding: .5rem 1rem;
}

.copy-success {
    font-family: 'Roboto', sans-serif;
    color: #EFB7B9;
    float: right;
    margin-left: 5px;
    border: none;
    margin-bottom: 0px;
}

.copy-icon {
    cursor: pointer;
    font-size: 15px;
    line-height: 30px;
    border: 2px solid #F6FDF8;
    border-radius: 50%;
    padding: 3px 6px 3px 6px;
}

.copy-icon:hover {
    color: #A7E8BD;
}

/*----------------------------------------------------------------------------### END OF: General project styles ### */
/*----------------------------------------------------------------------------### START OF: index.html ### */

.index-main {
    margin-bottom: -20%;
}

.main-titles {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 56px;
    z-index:1;
	margin-right: -300px;
}

.sm-screen-divider {
    display: none;
    width:200px;
}
.carousel-item>img{
    max-height: 600px;
}

.carousel-header {
    margin-top: 80px;
    margin-bottom: 10px;
}

.carousel-image-style {
    border: 6px solid #DCE3ED;
    padding: 20%;
    padding-top: 2%;
}

.carousel-icons-style {
    color: #DCE3ED;
    font-size: 40px;
}

.carousel-indicators li {
    background-color: #DCE3ED;
}

.carousel-indicators .active {
  background-color: #BCC9DC;
}

.sm-screen-steps {
    display: none;
}

/*----------------------------------------------------------------------------### END OF: index.html ### */
/*----------------------------------------------------------------------------### START OF: tips.html ### */

.tips-heading {
    margin-bottom: 30px;
}

.tips-image{
    border: 6px solid #DCE3ED;
}

.tips-icon {
    color: #A7E8BD;
    font-size: 25px;
    margin-right: 10px;
    display: inline-block;
}

.tips-list {
    margin-bottom: 30px;
    font-size: 25px;
}

.tips-list:before{
    font-family: "Font Awesome 5 Free";
    content: "\f061";
    font-weight: 900;
    color: #A7E8BD;
    margin:0 10px 0 -35px;
    font-size: 25px;
    list-style-position: outside;
}

.remove-bullets{
    list-style: none;
}

.tips-signup-prompt {
    margin-top: 80px;
}



/*----------------------------------------------------------------------------### END OF: tips.html ### */
/*----------------------------------------------------------------------------### START OF: signin.html & signup.html ### */

/* Form control guidance courtesy of https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow */
.form-control:focus{   
    border-color: #A7E8BD;
    box-shadow: 0 1px 1px #A7E8BD inset, 0 0 8px #A7E8BD;
    outline: 0 none;
}
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

.form-control-newuser:focus {
    border-color: #EFB7B9;
    box-shadow: 0 1px 1px #EFB7B9 inset, 0 0 8px #EFB7B9;
    outline: 0 none;
}

.sign-up-img{
    max-height: 450px;
    margin-top: 50px;
}


/*----------------------------------------------------------------------------### END OF: signin.html & signup.html ### */
/*----------------------------------------------------------------------------### START OF: overview.html ### */

ul p {
    margin-bottom: 0px;
}

.card {
    border: none;
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.overview-image {
    padding-top: 0px;
    margin-top: 0px;
    float: right;
}

.task-display {
    display: inline-block;
}

.fa-check:before, .fa-chevron-down:before {
    margin-right: 10px;
}

.complete-tasks {
    color: #A7E8BD;
    font-size: 25px;
}

.extra-list-padding {
    padding-left: 50px;
}

.image_position {
    display: none;
}


/*----------------------------------------------------------------------------### END OF: overview.html ### */
/*----------------------------------------------------------------------------### START OF: updatetasks.html ### */

.form-control-edit:focus {
    border-color: #FFC885;
    box-shadow: 0 1px 1px #FFC885 inset, 0 0 8px #FFC885;
    outline: 0 none;
}

/*----------------------------------------------------------------------------### END OF: updatetasks.html ### */
/*----------------------------------------------------------------------------### START OF: media queries ### */
/*----------------------------------------------------General app media queries*/

@media screen and (max-width: 422px){
    .responsive-lower-margin {
        margin-bottom: 250px;
    }
}

@media screen and (max-width: 767px){
    .active-menu{
        border: none !important;
        color: #7DDE9D !important;
    }
    .nav-item {
        text-align: right;
    }
    .navbar-nav {
        float: right;
    }
}

/*----------------------------------------------------index.html media queries*/

@media screen and (max-width: 767px){
    .carousel{
        display: none !important;
    }
    
    .sm-screen-steps {
    display: inline-block !important;
    border: 6px solid #DCE3ED;
    padding-bottom: 10px;
    padding-top: 10px;
    }
}

@media screen and (max-width: 575px){
    .smallest-screens-padding {
        padding-left: 0px;
    }

    .sm-screen-divider {
        display: block;
    }
}

/*----------------------------------------------------tips.html media queries*/


@media screen and (max-width: 767px){
    .tips-image {
        margin-top: 40px;
    }

    .tips-signup-prompt{
        margin-top: 0px;
    }
}

/*----------------------------------------------------overview.html media queries*/

@media screen and (max-width: 767px){
    .overview-padding-sm-screens{
        padding-left: 0px;
    }

    .overview-image {
    margin-top: 50px;
    }
}

@media screen and (max-width: 991px){
.overview-image {
    margin-top: 50px;
    }
}

/*----------------------------------------------------newtasks.html media queries*/

@media screen and (max-width: 767px){
    .task-image{
        margin-top: 50px;
    }
}

/*----------------------------------------------------signup.html/signin.html media queries*/

@media screen and (max-width: 767px){
    .alternative-prompt{
        margin-top: 50px;
        margin-bottom: 30px;
    }
}
