@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&family=Roboto:wght@100;300;400;500&display=swap');

/*----------------------------------------------------------------------------### START OF: General project styles ### */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*ID used to stick footer to bottom of all html pages*/
#container {
    min-height: 100%;
    position: relative;
}

.title-margin-top {
    margin-top: 5%;
    margin-bottom: 5%;
}

.standard-box {
    border: 6px solid #DCE3ED;
    margin-bottom: 50px;
    padding-bottom: 10px;
}

/*----------------------------------------------------Background colour*/

.navbar-bg {
    background-color: #F6FDF8;
    min-height: 100px;
}

/*----------------------------------------------------Font styling*/

.standard-heading {
    color: #3A2E39;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
}

.index-heading {
    text-align: left;
}

.smaller-heading {
    color: #3A2E39;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    line-height: 45px;
}

/*----------------------------------------------------Button styling*/

.standard-sign-up-btn {
    background-color: #EFB7B9;
    border: 1px solid #F9F6EC;
    color: #F9F6EC;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

.sign-in-btn, #redirect-signin-btn {
    background-color: #A7E8BD;
    color: #F9F6EC;
    border: 1px solid #A7E8BD;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 10px;
    width: 95px;
}

.sign-in-btn:hover, #redirect-signin-btn:hover {
    color: #F9F6EC;
    background-color: #7DDE9D;
    border: 1px solid #7DDE9D;
}

#redirect-signup-btn, #form-signup-btn {
    text-decoration: none;
}

#nav-btn, #redirect-signup-btn, #form-signup-btn, #sign-out-btn{
    color: #F9F6EC;
    padding-left: 10px;
    padding-right: 10px;
    width: 95px;
}

.standard-sign-up-btn:hover, #nav-btn:hover, #redirect-signup-btn:hover, #form-signup-btn:hover, #sign-out-btn:hover {
    background-color: #E99B9D;
    color: #F9F6EC;
}

#sign-out-btn {
    width: 103px;
}

.task-btn {
    color: #F9F6EC;
    border-radius: 20px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    min-width: 60px;
    text-align: center;
}

.expand-btn {
    background-color: #85ADD6;
    border: 1px solid #85ADD6;
}

.expand-btn:hover {
    background-color: #4785C2;
    border: 1px solid #4785C2;
    color: #F9F6EC;
}

.complete-btn {
    background-color: #A7E8BD;
    border: 1px solid #A7E8BD;
}

.complete-btn:hover {
    background-color: #7DDE9D;
    border: 1px solid #7DDE9D;
    color: #F9F6EC;
}

.edit-btn {
    background-color: #FFC885;
    border: 1px solid #FFC885;
}

.edit-btn:hover {
    background-color: #FFB65C;
    border: 1px solid #FFB65C;
    color: #F9F6EC;
}

.delete-btn {
    background-color: #DCE3ED;
    border: 1px solid #DCE3ED;
}

.delete-btn:hover {
    background-color: #BCC9DC;
    border: 1px solid #BCC9DC;
    color: #F9F6EC;
}
/*----------------------------------------------------Navbar styling*/

.logo-design {
    font-family: 'Quicksand', sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #A7E8BD;
    border: 4px solid #A7E8BD;
    border-radius: 20px;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}

.logo-design:hover {
    color: #EFB7B9;
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #3A2E39;
    padding-left: 3px;
    padding-right: 3px;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #EFB7B9;
}

/*----------------------------------------------------Footer styling*/

/*----------------------------------------------------------------------------### END OF: General project styles ### */
/*----------------------------------------------------------------------------### START OF: index.html ### */

/*----------------------------------------------------Main section styling*/
.index-main {
    height: 400px;
}

.main-titles {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 30px;
    line-height: 56px;
    z-index:1;
	margin-right: -300px;
}

.main-image {
    padding-top: 15%;
    height: 500px;
    width: 600px;
}

/*----------------------------------------------------------------------------### START OF: signin.html ### */

/* Form control guidance courtesy of https://stackoverflow.com/questions/14820952/change-bootstrap-input-focus-blue-glow */
.form-control:focus{   
    border-color: #A7E8BD;
    box-shadow: 0 1px 1px #A7E8BD inset, 0 0 8px #A7E8BD;
    outline: 0 none;
}
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}

.form-control-newuser:focus {
    border-color: #EFB7B9;
    box-shadow: 0 1px 1px #EFB7B9 inset, 0 0 8px #EFB7B9;
    outline: 0 none;
}
/*----------------------------------------------------------------------------### END OF: signin.html ### */
/*----------------------------------------------------------------------------### START OF: overview.html ### */

ul {
    list-style-type: none;
}

.overview-image {
    height: 300px;
    max-width: 450px;
    padding-top: 0px;
    margin-top: 60px;
}

/*----------------------------------------------------------------------------### END OF: overview.html ### */
/*----------------------------------------------------------------------------### START OF: newtasks.html ### */

.new-task-image {
    height: 400px;
    max-width: 400px;
    padding-top: 0px;
}