<!DOCTYPE html>
<html lang="en">
<head>
    <!--Link to Bootsrap framework used as a foundation to build project-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <!--Link to local CSS file-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>MoveOn</title>
</head>
<body>
    <div id="container">
        <header>
            <!--Basic navbar structure from Bootstrap with additional styling-->
            <nav class="navbar navbar-expand-md navbar-light navbar-bg">
                <a class="logo-design" href="{{url_for('index')}}">MoveOn</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menu-font" id="navbarNav">
                    <ul class="navbar-nav ml-auto menu-collapse-align">
                        <li class="nav-item mr-2 active">
                            <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="{{url_for('tips')}}">Top Tips</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="{{url_for('sign_in')}}">Sign In</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link" href="{{url_for('sign_up')}}">Sign Up</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
    </footer>
    </div>

    <!-- Link to local JavaScript file (not yet created-->
    <!--<script src="{{ url_for('static', filename='js/.js') }}"></script>-->

</body>
</html>