<!DOCTYPE html>
<html lang="en">
<head>
    <!--Link to Bootsrap framework used as a foundation to build project-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <!--Link to local project css file-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>MoveOn</title>
</head>
<body>
</body>
</html>