<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous"/>
    <!--Favicon created courtesy of: https://gauger.io/fonticon/-->
    <link rel="icon" type="image/png" href="{{url_for('static', filename='images/favicon.png')}}"/>
    <!--Link to local CSS file-->
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">
    <title>MoveOn</title>
</head>
<body>
    <div id="container">
        <header>
            <!--Basic navbar structure from Bootstrap with additional styling-->
            <nav class="navbar navbar-expand-md fixed-top navbar-light navbar-bg">
                <a class="logo-design" href="{{url_for('index')}}">MoveOn</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse menu-font" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-2">
                            <a class="nav-link {% block nav_home %}{% endblock %}" href="{{url_for('index')}}">Home</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link {% block nav_tips %}{% endblock %}" href="{{url_for('tips')}}">Top Tips</a>
                        </li>
                        <!--Changes the navbar if a user is logged in-->
                        {% if session.username %}
                        <li class="nav-item mr-2">
                            <a class="nav-link {% block nav_overview %}{% endblock %}" href="{{url_for('overview')}}">My Tasks</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link standard-sign-up-btn" id="sign-out-btn" href="{{url_for('logout')}}">Sign Out</a>
                        </li>
                        {% endif %}
                        {% if not session.username %}
                        <li class="nav-item mr-2">
                            <a class="nav-link {% block nav_signin %}{% endblock %}" href="{{url_for('sign_in')}} {% block navbar %}{% endblock %}">Sign In</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link standard-sign-up-btn" id="nav-btn" href="{{url_for('sign_up')}}">Sign Up</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>


        <main class="main-margin">
        {% block content %}
        {% endblock %}
        </main>

        <footer class="container-fluid" id="footer-position">
            <div class="row">
                <div class="col-6 offset-3 text-center">
                    <p class="share-title">Thanks for checking us out!</p> 
                    <p class="share-text">Click here to copy our website and share it with others:
                        <i class="far fa-copy copy-icon" id="copy-url" data-clipboard-text="http://ms3-move-on.herokuapp.com/index"></i>
                    </p> 
                </div>
                <div class="col-3">
                    <a class="footer-items float-right" id="back-to-top" href="#container"><i class="fas fa-arrow-circle-up"></i></a>
                </div>
            </div>
        </footer>
        </div>


    <!--Link to Bootstrap scripts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!--Link to clipboard.js script-->
   <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.3/clipboard.min.js"></script>

    <!-- Link to local JavaScript files-->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>