{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row index-main">
        <div class="col-12 col-md-8 offset-md-1 main-titles title-margin-top">
            <h3 class="standard-heading text-left">Getting ready to move home?</h3>
            <h4 class="standard-heading text-left">Use our free customisable checklist to get you and your home ready for your big move.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-4">
            <img class="img-fluid" src="{{url_for('static', filename='/images/' + 'undraw_to_do_list.png')}}" alt="Writing a to do list" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="standard-heading carousel-header">We help you MoveOn with three easy steps.</h4>           
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 carousel-image-style" src="{{url_for('static', filename='/images/' + 'undraw_hello_qna.png')}}" alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="standard-heading">Step One:</h5>
                            <p class="smaller-heading">Create an account.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-image-style" src="{{url_for('static', filename='/images/' + 'undraw_add_post.png')}}" alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="standard-heading">Step Two:</h5>
                            <p class="smaller-heading">Add items to your checklist.</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-image-style" src="{{url_for('static', filename='/images/' + 'undraw_check_boxes.png')}}" alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="standard-heading">Step Three:</h5>
                            <p class="smaller-heading">Complete each step to bring you closer to your new home!</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true">
                        <i class="fas fa-angle-double-left carousel-icons-style"></i>
                    </span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true">
                        <i class="fas fa-angle-double-right carousel-icons-style"></i>
                    </span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center lower-box-margin">
			<h4 class="standard-heading">Already have an account?</h4>
			<a class="btn sign-in-btn" id="redirect-signin-btn" href="{{url_for('sign_in')}}">Sign in</a>
		</div>
	</div>
</div>
{% endblock %}