{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row index-main">
        <div class="col-md-8 main-titles">
            <h3 class="standard-heading">Getting ready to move home?</h3>
            <h4 class="standard-heading">Use our free customisable checklist to get you and your home ready for your big move</h4>
        </div>
        <div class="col-md-4">
            <img class="main-image" src="{{url_for('static', filename='/images/' + 'undraw_to_do_list.png')}}" alt="Writing a to do list" />
        </div>
        </div>
    </div>
</div>
{% endblock %}