{% extends "base.html" %}

<!--Block content to extend content of base.html-->
{% block content %}

<!--Allows flash messages to be displayed at the top of the screen-->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flash-messages" id="current-message">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3 class="standard-heading title-margin-top">Add a new task</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <!--Form collects user's inputted data to add it to the database when form is posted-->
            <form action="{{ url_for('add_task') }}" method="POST">
                <div class="form-group">
                    <input id="task_title" name="task_title" type="text" class="form-control" placeholder="Task Name" required>
                </div>
                <div class="form-group">
                    <input id="task_info" name="task_info" type="text" class="form-control" placeholder="Extra Information" required>
                </div>
                <div class="form-group">
                    <input id="delegation" name="delegation" type="text" class="form-control" placeholder="Delegated to" required>
                </div>
                <div class="form-group">
                    <div class="datepicker date input-group">
                        <input type="text" class="form-control" id="task_due" name="task_due" placeholder="Due date" required>
                        <div class="input-group-append">
                            <span class="input-group-text px-4 calender-icon"><i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <input class="task-btn sign-in-btn title-margin-top" type="submit" value="Add Task">
            </form>
        </div>
        <div class="col-12 col-md-6">
            <img class="img-fluid task-image" src="{{url_for('static', filename='/images/' + 'undraw_happy_announcement.png')}}" alt="Creating tasks together" />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center standard-box lower-box-margin responsive-lower-margin">
            <h4 class="smaller-heading">Return to My Tasks</h4>   
            <a class="btn standard-sign-up-btn" id="redirect-overview" href="{{url_for('overview')}}">My Tasks</a>
        </div>
    </div>
</div>


{% endblock %}