{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="standard-heading title-margin-top">Welcome {{ session.username }}! <br> Here's an overview of your moving tasks</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center standard-box">
            <h4 class="smaller-heading">Thought of a new task to add?</h4>   
            <a class="btn sign-in-btn" id="redirect-signin-btn" href="{{url_for('new_task')}}">Add new task</a>
        </div>
    </div>
</div>
<div class="container">
    <!--Following source used as guide for list item: https://www.geeksforgeeks.org/todo-list-app-using-flask-python/-->
    <div class="row">
        <div class="col-12 col-md-6">
            <h4 class="smaller-heading"><strong>Pending tasks: </strong></h4>
            {% for task in tasks %}
            {% if (task.complete == False) and (task.username == session.username) %}
            <ul>
                <li>
                    <div class="task-display">
                        <a class="" data-toggle="collapse" href="#showTaskDetails" role="button" aria-expanded="false" aria-controls="collapseExample">
                        <i class="fas fa-chevron-down expand-btn"></i>
                        </a>
                    </div>
                    <div class="task-display list-title">
                        <p>{{task.task_title}}</p>
                    </div>
                    <div class="collapse" id="showTaskDetails">
                        <div class="card card-body">
                            <ul class="list-text">
                                <li><strong>Extra information:</strong> {{task.task_info}}</li>
                                <li><strong>Delegated to:</strong> {{task.delegation}}</li>
                                <li><strong>Due date:</strong> {{task.task_due}}</li>
                                <a class="btn task-btn complete-btn" href="{{url_for('complete_task')}}">Complete</a>
                                <a class="btn task-btn edit-btn" href="{{url_for('update_tasks')}}">Edit</a>
                                <a class="btn task-btn delete-btn" href="{{url_for('delete_task')}}">Delete</a>
                            </ul>
                        </div>
                    </div>

                </li>
            </ul>
            {% elif (task.complete == True) and  (task.username == session.username) %}
        <h4 class="smaller-heading"><strong> Completed tasks: </strong></h4>
            <ul>
                <li class="list-text"><i class="fas fa-check complete-tasks"></i>{{task.task_title}}
                </li>
            </ul>
            {% elif task.username != session.username %}
            <h4 class="smaller-heading"> It looks like you don't have any tasks yet! Why not get started by adding some right away?</h4>
            {% endif %}
            {% endfor %}     
        </div>
        <div class="col-12 col-md-6 text-center">
            <img class="overview-image" src="{{url_for('static', filename='/images/' + 'undraw_accepted_request.png')}}" alt="Writing a to do list" />
        </div>
    </div>
</div>


                <!-- Alternative option pending
                    <div class="accordion" id="accordionExample">
                            {% for task in tasks %}
                            {% if (task.complete == False) and (task.username == session.username) %}
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                {{task.task_title}}
                                </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %} -->

{% endblock %}

