{% extends "base.html" %}

<!--Sets this template as current page-->
{% block nav_signin %} active-menu {% endblock %}

<!--Allows flash messages to be displayed at the top of the screen-->
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flash-messages" id="current-message">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="standard-heading title-margin-top">Good to see you again!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <form method="POST" action="{{ url_for('sign_in') }}">
                <div class="form-group">
                    <input type="text" class="form-control w-75 mx-auto" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control w-75 mx-auto" name="pass" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary sign-in-btn text-center">Sign In</button>
            </form>
            <br>
        </div>
        <div class="col-12 col-md-6 text-center alternative-prompt">
            <div>
                <h4 class="smaller-heading">Don't have an account yet?</h4>
                <a class="btn standard-sign-up-btn" id="redirect-signup-btn" href="{{url_for('sign_up')}}">Sign Up</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img class="image-margins img-fluid" src="{{url_for('static', filename='/images/' + 'undraw_festivities.png')}}" alt="Feeling excited to get going" />
        </div>
    </div>
</div>
{% endblock %}