{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 class="standard-heading">Good to see you again!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 text-center">
            <form method="POST" action="{{ url_for('sign_in') }}">
                <div class="form-group">
                    <input type="text" class="form-control" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="pass" placeholder="Password" required>
                </div>
                <button type="submit" class="btn btn-primary sign-in-btn text-center">Sign In</button>
            </form>
            <br>
        </div>
        <div class="col-md-5 text-center">
            <div>
                <h4>Don't have an account yet?</h4>
                <a class="btn standard-sign-up-btn" id="redirect-signup-btn" href="{{url_for('sign_up')}}">Sign Up</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}