{% extends "base.html" %}

<!--Block code to indicate which page is active in the navbar-->
{% block nav_tips %} active-menu {% endblock %}

<!--Allows flash messages to be displayed at the top of the screen-->
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p class="flash-messages" id="current-message">{{ msg }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
			<h3 class="standard-heading title-margin-top tips-heading">Sharing is caring. Our community board features great tips to help you get ready to MoveOn!</h3>
            <hr class="standard-divider"/>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
			<ul class="remove-bullets">
                <li class="list-text tips-list">Start planning early - getting ready to move often takes more time than we think!
                </li>
                <li class="list-text tips-list">Inform your local postal service that you will be moving and arrange to have all your mail forwarded 
                to your new address.
                </li>
                <li class="list-text tips-list">Remember to pack some snacks and drinks with you for the moving day - not only will they be 
                refreshing for you, they will also be highly appreciated by whoever is helping you move! 
                </li>
                <li class="list-text tips-list">Get a good night’s sleep before your moving day and get ready to say hello to your new home!
                </li>

                <!--Shows all tips added by user community-->
                {% for tip in tips %}
                <li class="list-text tips-list">{{tip.user_tip}}
                    <!--Checks if user is in session before displaying edit/ delete buttons-->
                    {% if current_user == session['username'] %}
                    <button type="button" class="btn task-btn delete-btn" data-toggle="modal" data-target="#deleteModal{{ tip._id }}">Delete
                    </button>
                    <!-- Delete modal content-->
                    <div class="modal fade" id="deleteModal{{ tip._id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <div class="modal-body">
                                    <h4 class="list-title text-center">Are you sure you want to delete this tip from the community board?</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn task-btn complete-btn-modal" data-dismiss="modal">No, let's keep it</button>
                                    <a class="btn task-btn delete-btn-modal" href="{{url_for('delete_tip', tip_id=tip._id)}}">Yes, delete it!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn task-btn edit-btn" data-toggle="modal" data-target="#editModal{{ tip._id }}">Edit
                    </button>
                    <!-- Edit modal content-->
                    <div class="modal fade" id="editModal{{ tip._id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                </div>
                                <form action="{{ url_for('edit_tip', tip_id=tip._id) }}" method="POST">
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="user_tip" name="user_tip" placeholder="{{ tip.user_tip }}" required>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <input class="btn task-btn edit-btn" type="submit" value="Edit Tip">
                                        <a class="btn task-btn delete-btn-modal" data-dismiss="modal">Cancel Changes</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
		</div>
	</div>
    <div class="row">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <h4 class="smaller-heading"><strong>Want to share your own tip with the community? </strong></h4>
            <h4 class="smaller-heading {{ hide_prompt }}">
                <a href="{{url_for('sign_in')}}">Sign In</a> or <a href="{{url_for('sign_up')}}">Sign Up</a> to post your tip below!
            </h4>
        </div>
    </div>
    <div class="row {{ hide_form }}">
        <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <form action="{{ url_for('add_tip') }}" method="POST">
                <input type="text" class="form-control" id="user_tip" name="user_tip" placeholder="Enter your moving tip here" required>
                <input class="task-btn sign-in-btn title-margin-top" type="submit" value="Share Tip">
            </form>
        </div>
    </div>
</div>
<div class="container tips-signup-prompt">
	<div class="row">
		<div class="col-12 col-md-6 text-center">
			<h3 class="standard-heading title-margin-top">Why not let us help you get ready for your next big move?</h3>
            <a class="btn standard-sign-up-btn" id="redirect-signup-btn" href="{{url_for('sign_up')}}">Sign Up</a>
		</div>
        <div class="col-12 col-md-6">
			<img class="tips-image img-fluid" src="{{url_for('static', filename='/images/' + 'undraw_moving.png')}}" alt="Packing boxes" />
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center lower-box-margin responsive-lower-margin">
			<h4 class="standard-heading">Already have an account?</h4>
			<a class="btn sign-in-btn text-center" id="redirect-signin-btn" href="{{url_for('sign_in')}}">Sign in</a>
		</div>
	</div>
</div>
{% endblock %}
