{% extends "base.html" %}

<!--Block code to indicate which page is active in the navbar-->
{% block nav_tips %} active-menu {% endblock %}

<!--Block content to extend content of base.html-->
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-12">
			<h3 class="standard-heading title-margin-top tips-heading">Here are our top tips to get you ready to MoveOn</h3>
            <hr class="standard-divider"/>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
			<ul class="remove-bullets">
                <li class="list-text tips-list">Start planning early - getting ready to move often takes more time than we think!
                </li>
                <li class="list-text tips-list">Make a list of all that needs doing and prioritise your checklist to get everything done in time.
                </li>
                <li class="list-text tips-list">Inform your local postal service that you will be moving and arrange to have all your mail forwarded 
                to your new address.
                </li>
                <li class="list-text tips-list">Remember to pack some snacks and drinks with you for the moving day - not only will they be 
                refreshing for you, they will also be highly appreciated by whoever is helping you move! 
                </li>
                <li class="list-text tips-list">Get a good night’s sleep before your moving day and get ready to say hello to your new home!
                </li>
            </ul>
		</div>
	</div>
</div>
<div class="container tips-signup-prompt">
	<div class="row">
		<div class="col-12 col-md-6 text-center">
			<h3 class="standard-heading title-margin-top">Why not let us help you get ready for your next big move?</h3>
            <a class="btn standard-sign-up-btn" id="redirect-signup-btn" href="{{url_for('sign_up')}}">Sign Up</a>
		</div>
        <div class="col-12 col-md-6">
			<img class="tips-image img-fluid" src="{{url_for('static', filename='/images/' + 'undraw_moving.png')}}" alt="Packing boxes" />
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center lower-box-margin responsive-lower-margin">
			<h4 class="standard-heading">Already have an account?</h4>
			<a class="btn sign-in-btn text-center" id="redirect-signin-btn" href="{{url_for('sign_in')}}">Sign in</a>
		</div>
	</div>
</div>
{% endblock %}
